[Unit]
Desciption=daily clean report data log

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true
Unit=clean-log-daily.service

[Install]
WantedBy=default.target

