[Unit]
Description=sync_linux_amd64  daemon

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/sbin/sync_linux_amd64 --debug=false --interval=60

[Install]
WantedBy=multi-user.target
